.review-container{
    display: flex;
}
.right-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right:1px solid lightgray;
}
.img-container{
    height: 70%;
    width: 70%;
}